.BuildControl {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  width: 400px;
}

.BuildControl button {
  border-radius: 25px;
  color: inherit;
  cursor: pointer;
  display: block;
  flex-basis: 33%;
  font-family: inherit;
  font-size: inherit;
  margin: 0 5px;
  outline: none;
  padding: 5px;
  width: 80px;
}

.BuildControl button:disabled {
  color: #777;
  cursor: default;
}

.Label {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  flex-basis: 33%;
  text-align: left;
  width: 80px;
}
