.Burger {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 600;
  height: 250px;
  justify-content: center;
  overflow: scroll;
  text-align: center;
  width: 100%;
}

@media (min-width: 500) and (min-height: 400px) {
  .Burger {
    height: 300px;
    width: 350px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Burger {
    height: 460px;
    width: 450px;
  }
}
