.head {
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

@media (min-width: 900px) {
  main {
    flex-direction: row;
  }
}
