.NavigationItem {
  align-items: center;
  display: block;
  width: 100%;
}

.NavigationItem a {
  display: block;
  padding: 16px 10px;
  text-decoration: none;
  width: 100%;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
}

@media (min-width: 500px) {
  .NavigationItem {
    display: flex;
    height: 100%;
    width: auto;
  }

  .NavigationItem a {
    border-bottom: 4px solid transparent;
    height: 100%;
    width: auto;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    border-bottom: 4px solid lightcoral;
  }
}
