.Button {
  border-radius: 25px;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px;
  text-transform: uppercase;
  transition: background 300ms;
}

.Button:hover {
  background: lightblue;
}

.Continue {
  background: lightgreen;
}

.Cancel {
  background: lightcoral;
}
