.BuildControls {
  align-items: center;
  background: rgba(208, 205, 169, 1);
  box-shadow: 0 2px 1px #ccc;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  width: 100%;
}

.OrderButton {
  background: rgba(173, 80, 62, 1);
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 10px 15px;
  text-transform: uppercase;
}

.OrderButton:hover {
  background: lightblue;
}
